</div>
<footer>

<section id="contact" class="mt-12">
    <div class="row col-md-12">

        <div class="col-md-1 col-sm-12 col-xs-12 white-links" 
        style="padding-right:0px;"
        >
            <p class="footer-title">About Us</p>
            <ul>
                <li>
                    <a href="/pages/about-us">About Our Store</a>
                </li>
                <li>
                    <a href="/pages/contact-us">Contact Us</a>
                </li>
                <li>
                    <a href="/pages/shipping-policy">Shipping Policy</a>
                </li>
            </ul>  
        </div>

        <div class="col-md-1 col-sm-12 col-xs-12 white-links"
          
        >
          <p class="footer-title">Help</p>
          <ul>
            <li>
              <a href="/pages/payment-information">Payment Information</a>
            </li>
            <li>
              <a href="/pages/shippinginfo">Shipping Information</a>
            </li>
            <li>
              <a href="/pages/faq">FAQ</a>
            </li>
          </ul>
        </div>

        <div class="col-md-1 col-sm-12 col-xs-12 white-links" >
          <p class="footer-title">Policy</p>
          <ul>
            <li>
              <a href="/pages/return-policy">Return Policy</a>
            </li>
            <li>
              <a href="/pages/tandc">Terms and Conditions</a>
            </li>
            <li>
              <a href="/pages/warranty">Warranty</a>
            </li>
            <li>
              <a href="/pages/price-beating">Price Beating</a>
            </li>
          </ul>
        </div>

        <div class="col-md-1 col-sm-12 col-xs-12 white-links" 
        >
          <p class="footer-title">Social</p>
          <ul>
            <li>
              <a href="https://facebook.com/" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                Facebook
              </a>
            </li>
            <li>
            <a id="profile-link" target="_blank" href="https://instagram.com/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              Instagram
            </a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                Twitter
              </a>
            </li>
          </ul>
        </div>

        <div class="v1">
        
        </div>


        <div
        class="widget contact col-md-2">
          <h4 class="widget-title">Contact Us:</h4>
          <p class="cotact-para-custom">TechMania Pvt Limited<br>
            Telemart Pvt Limited <br>
            Suite 406, 4th Floor, Al-Khaleej Tower<br>
            Plot# C-24 B.M.C.H.S Shaheed-e-Millat Karachi, Pakistan<br>
        </div>  


        <div style="padding-left: 100px;"
        class="widget contact">
          <h4 class="widget-title">Registered Office Address:</h4>
          <p class="cotact-para-custom">TechMania Pvt Limited<br>
            Email: Info@telemart.pk<br>
            Number : 021-111-662-453<br>
            Franchise: Franchise@telemart.pk<br>
        </div>
        
    </div>
  </section>
  
  <section class="bottom-footer">
    <div class="row">
    <div class="col-9 mr-auto">
      ©  BetterYou@pk 2021. All rights reserved.
    </div>
    <div class="col-3 mr-auto">
      <img src="/images/Capture.jpg" alt="">
    </div>
   </div>
  </section>

</footer>
</div>


<script src="/javascripts/main.js"></script>
</body>
</html>
