</div>
<footer>

<section id="contact" class="mt-12">
    <div class="row">

        <div class="col-md-1 col-sm-12 col-xs-12 white-links" 
        >
            <p class="footer-title">About Us</p>
            <ul>
                <li>
                    <a href="/pages/about-us">About Our Store</a>
                </li>
                <li>
                    <a href="/pages/contact-us">Contact Us</a>
                </li>
                <li>
                    <a href="/pages/shipping-policy">Shipping Policy</a>
                </li>
            </ul>  
        </div>

        <div class="col-md-1 col-sm-12 col-xs-12 white-links"
        >
          <p class="footer-title">Help</p>
          <ul>
            <li>
              <a href="/pages/payment-information">Payment Information</a>
            </li>
            <li>
              <a href="/pages/shippinginfo">Shipping Information</a>
            </li>
            <li>
              <a href="/pages/faq">FAQ</a>
            </li>
          </ul>
        </div>

        <div class="col-md-1 col-sm-12 col-xs-12 white-links" >
          <p class="footer-title">Policy</p>
          <ul>
            <li>
              <a href="/pages/return-policy">Return Policy</a>
            </li>
            <li>
              <a href="/pages/tandc">Terms and Conditions</a>
            </li>
            <li>
              <a href="/pages/warranty">Warranty</a>
            </li>
            <li>
              <a href="/pages/price-beating">Price Beating</a>
            </li>
          </ul>
        </div>

        <div class="col-md-1 col-sm-12 col-xs-12 white-links" 
        >
          <p class="footer-title">Social</p>
          <ul>
            <li>
              <a href="https://facebook.com/" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                Facebook
              </a>
            </li>
            <li>
            <a id="profile-link" target="_blank" href="https://insstagram.com/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              Instagram
            </a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                Twitter
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-1"></div>
        <div class="v1">
        </div>

        <div
        class="widget contact col-md-3">
          <h4 class="widget-title">Registered Office Address:</h4>
          <p class="cotact-para-custom">TechMania Pvt Limited<br>
            G20, Multan Trade Center, Khanewal road, Multan
        </div>  


        <div 
        class="widget contact col-md-2">
          <h4 class="widget-title">Contact Us</h4>
          <p class="cotact-para-custom">Technania<br>
            Email: techpkmania@gmail.com<br>
            Number : 0341-7355941<br>
        </div>

    </div>
  </section>
  
  <section class="bottom-footer">
    <div class="row">
    <div class="col-9 mr-auto">
      ©  Techmania@pk 2022. All rights reserved.
    </div>
    <div class="col-3 mr-auto">
      <img src="/images/capture.jpg" alt="">
    </div>
   </div>
  </section>

</footer>
</div>


<script src="/javascripts/main.js"></script>
</body>
</html>
