<%- include ../partials/header %>
  <%- include ../partials/categories-navbar %>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 m-auto text-justify">
          <h1 class="mt-4 mb-5 text-center">About Us</h1>
          <h3>Welcome to our store</h3>
          <h4>About us</h4>
          <p>
          <h3>Who we are?</h3>
          Better You is a full-service retailer and distributor of professional salon products and tools servicing all
          regions of
          Pakistan, from major cities to smaller town and villages.
          </p>
          <p>
          <h4>Our Mission</h4>
          Our Mission
          Our mission is to provide valuable education, superior products, excellent customer care and talented
          professionals who
          can guide consumers, businesses, salons and stylists to be successful and look their best. Better You is
          committed to
          its' support of the professional salon industry and licensed professionals.
          </p>

          <p>
          <h4>Education</h4>
          Focused and innovative, whether its hands-on workshops, business seminars, cutting-edge classes in various
          education
          centers, in salon training or appearances by industry’s top professionals – education is the foundation of
          Better You
          </p>

          <p>
          <h4>Management</h4>
          Professional ’s management team is determined to deliver leadership, direction and focus on superior brands
          and systems
          that reflect our philosophy of consummate salon support.
          </p>

          <p>

          <h4>Customer Care</h4>
          In today’s world of impersonal, automated, high-tech response, Better You strives to always provide the
          personal,
          individualized, extra-mile service a consumer or professional deserves with accurate, on-time, next-day
          delivery!
          </p>

          <p>

          <h4>Sales Force</h4>
          Our team of product consultants are dedicated to service excellence and building business partnerships. This
          group of
          responsible professionals, truly value their relationships with consumer and professionals alike and the
          importance of
          consultative business-building. Better You – partnering with you for your future.
          </p>

          <p>

          <h4>Stores</h4>
          Better You– our store offer a source for all the needs of the consumer, salon professional: education centers,
          knowledgeable staff, merchandising ideas and convenient support.
          </p>

        </div>
        <div class="col-lg-8 col-md-12 mx-auto mt-3 mb-3">
          <h3>Our location on map</h3>
          <div class="mt-4" id="map" style="width: 100%; height: 400px;"></div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/javascripts/map.js"></script>

    <%- include ../partials/footer %>