<%- include ../partials/header %>
  <%- include ../partials/categories-navbar %>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 m-auto text-justify">
          <h1 class="mt-4 mb-5 text-center">About</h1>
          <h3>Welcome to our store</h3>
          <h4>About us</h4>
          <p>
          TECH MANIA is a Pakistani Brand, a company having years of excellence in dealing with cellular phones and consumer electronics from all the leading brands, with competitive pricing, vast range of products and providing efficient after-sales service and support to customers with convenience through its online shopping platform and brick-and-mortar outlets spreading nationwide with a wide range of mobile phones from all leading mobile brands, IT and networking products, home appliances, home entertainment products, consumer electronics, and all other branded products under one roof.
          </p>
          <p>
          TECH MANIA is considered to be among the Top E-commerce companies in Pakistan having more than 10000 products. Tech Mania is providing Products with a wide range to choose from i.e. Latest Tech Gadgets and other accessories, etc.
          </p>

          <p>
          TECH MANIA believes in providing our customers not only value for money, but exceeding their expectations at every level through our pre and post-sales perspective. We aim to keep our customers updated and in the loop so whether it's a query for an order or any tech-update, we will go beyond our excellence to create an ultimate online shopping experience when using our e-commerce platform
          </p>

        </div>
        <div class="col-lg-8 col-md-12 mx-auto mt-3 mb-3">
          <h3>Our location on map</h3>
          <div class="mt-4" id="map" style="width: 100%; height: 400px;">
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/javascripts/map.js"></script>

    <%- include ../partials/footer %>