<%- include ../partials/header %>
<%- include ../partials/categories-navbar %>




<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12 m-auto text-justify">
            <h1 class="mt-4 mb-5 text-center">FAQ's</h1>

            <h4>What is the 7-day Checking and Replacement Warranty?</h4>
            <p>
                Our 7-day Replacement and Checking Warranty is a service we created in order to give you peace of mind. You have 7 days, that’s 168 hours, to check your product for any unlikely issues. We’ll verify your claim and replace the product for you. In case you find any of the following issues, give us a call or email us:
                <ul>
                    <li>You accidentally received the wrong product</li>
                    <li>You have been overcharged</li>
                    <li>You found manufacturer defects</li>
                </ul>
                For more information about our warranties, Click Here
            </p>

            <h4>Are your Products Genuine/Original?</h4>
            <p>
                At Tech Mania, we believe in originality. “If it’s not original, it’s not at Tech Mania!” is our policy and we stand by it. As such, every product you find at Tech Mania, whether it’s for Rs. 200 or Rs. 200,000, is 100% genuine/original.
            </p>

            <h4>
                Where are you Located?
            </h4>
            <p>
                You can enjoy shopping at any one of Tech Mania’s outlet.
                For more information about our locations, Click Here
            </p>

            <h4>
                What is the Delivery Time?
            </h4>
            <p>
                While we try to get your product into your hands as fast as possible, all online orders usually take 24-72 hours to be there. In extremely rare cases, such as when we specially import a product for you, it may take up to 5 working days.
                For more information about our shipping information, Click Here
            </p>

            <h4>
                Do you have an Exchange Policy?
            </h4>
            <p>
                Yes, we do! If by some extremely rare chance the product you receive is not up to your standards, all you have to do is call or email us and let us know within 7 days of receiving the product. Once we receive your claim, we’ll wait for your product to arrive by a courier of your choice and payment, and we’ll exchange it for a product agreed upon.
                For terms and conditions, Click Here
                If you would like further clarification about Tech Mania’s payment options, feel free to contact us on 03417355941
            </p>
            
        </div>
    </div>
</div>




<%- include ../partials/footer %>