<%- include ../partials/header %>
    <%- include ../partials/categories-navbar %>
<div class="container">
    <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
        <h1 class="mt-4 mb-5 text-center">Price Beating</h1>
        <p>
            At Better You, our aim is to make online shopping in Pakistan a phenomenal experience centered around you. That’s why we
            offer our famous Price Beating Policy; to ensure you get the best possible price around.         
        </p>
        <p>
            <h3>What is it?</h3>
            If you find the same product we offer at a lower price, we’ll beat it and offer an even lower price just because we care
            about giving you the best price in Pakistan. If by a rare chance you found a lower price, simply email us at
            info@BetterYou.pk and let us know where you found the lower price. If you’re emailing us, send the link too! <br>
            Within 24 hours, we’ll verify the claim and then beat the price for you; it’s that simple!
        </p>

        <p>
            <h2>Conditions for Price Beating</h2>
            • The product must be the same, including its model, color, and specifications <br>
            • The stated delivery time must be equal <br>
            • The product listed on the other site isn’t listed under promotional, holiday, or discounted deals <br>
            • The warrant status, official or otherwise, is the same <br>

        </p>
        
        </div>
        
    </div>
</div>

    <script type="text/javascript" src="/javascripts/map.js"></script>
<%- include ../partials/footer %>