<%- include ../partials/header %>
    <%- include ../partials/categories-navbar %>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 m-auto text-justify">
                <h1 class="mt-4 mb-5 text-center">About Us</h1>
                <h3>Tech Mania 7 Days Checking & Replacement Warranty</h3>
                <p>
                    Tech Mania believes in making online shopping a phenomenal experience centered around you, so you can enjoy complete satisfaction along with the impeccable level of service. That’s why we believe you have every right to have your product checked, and, if needed, replaced. Because at Tech Mania,
                    “If You’re Not Happy, We’re Not Happy.”
                    That’s why we have our famous 7-days Checking & Replacement Warranty.
                </p>
                <h3>
                    What is it?
                </h3>
                <p>
                    Though you won’t ever need it, our 7-days Replacement and Checking Warranty is a service we created in order to provide you with complete peace of mind. You have 7 days, that’s 168 hours, to check your product for any unlikely operational or internal issues. However, If the product is physically damaged or broken upon delivery, you should immediately notify us within 24 hours via call at 03417355941 so that we can replace your product.
                    In case you find one, give us a call or email us. We’ll verify your claim and replace the product for you right away.
                    Tech Mania replacement policy is valid for 2 situations/circumstances:
                        •	In case you are delivered the wrong product.
                        •	In case the product delivered to you has some defect or issue.
                    However, to complete replacement of your product, the product should be:
                        •	Undamaged, unused and in the condition in which it was received
                        •	The parcel contains its original product packaging, manufacturer's containers, documentation, warranty cards, manuals, and all accessories that came in or attached to the product when ordered.
                        •	None of the items mentioned above, including the product itself, is defaced or marked in any way, shape, or form.
                    
                    If you would like any further clarification about our return & replacement policy, feel free to contact us at 03417355941
                    

                </p>
                


            </div>
           
        </div>
    </div>

<script type="text/javascript" src="/javascripts/map.js"></script>

<%- include ../partials/footer %>