<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Shipping Policy</h1>
      <p>
        When it comes to online shopping in Pakistan, Better You prides itself on providing you with a clear and transparent
        shipping policy.
      </p>

      <h4>What is the estimated delivery time?</h4>
      <p>
        We understand the excitement you experience when shopping online. That’s why we’re equally excited to deliver the
        product without a scratch and as quickly as possible. While we try to get your product into your hands as fast as
        possible, all online orders usually take 24-72 hours to be there. In extremely rare cases, it may take up to 5 working
        days. Like you, our valued staff likes to enjoy life as well. As such, the only times Better You can’t deliver are
        Sundays and Public Holidays.
      </p>

      <h4>Free Shipping</h4>
      <p>
        Unless specified on the Product Detail Page, Better You offers its online shoppers the convenience of free shipping.
        Where shipping charges are applicable, such as when we use our reliable courier service, we will clearly inform you
        before you finalize your purchase.
      </p>

      <h4>Shipping Invoice</h4>
      <p>
        Better You provides a detailed shipping invoice with each order you place, outlining the price, quantities, and shipping
        charges (where applicable). If you would like further clarification about Better You payment options, feel free to email
        us at info@BetterYou.pk
      </p>

      <h4>Do you have questions?</h4>
      <p>
        Please do not hesitate to
        <a href="/pages/contact-us"><u>contact us</u></a> through our emails or
        phone numbers
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
