<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12 m-auto text-justify">
            <h1 class="mt-4 mb-5 text-center">Shipping Information</h1>
            <p>When it comes to online shopping in Pakistan, Tech Mania prides itself on providing you with a clear and transparent 
                shipping policy.</p>
            
            <h2>What is the estimated delivery time? </h2>
            <p>
                We understand the excitement you experience when shopping online. That’s why we’re equally excited to deliver the product without a scratch and as quickly as possible. While we try to get your product into your hands as fast as possible, all online orders usually take 24-72 hours to be there. In extremely rare cases, it may take up to 5 working days. Like you, our valued staff likes to enjoy life as well. As such, the only times Tech Mania can’t deliver are Sundays and Public Holidays.
            </p>

            <h3>
                Free Shipping
            </h3>

            <p>
                Unless specified on the Product Detail Page, Tech Mania offers its online shoppers the convenience of free shipping. Where shipping charges are applicable, such as when we use our reliable courier service, we will clearly inform you before you finalize your purchase.
            </p>

            <h3>
                Shipping Invoice
            </h3>

            <p>
                Tech Mania provides a detailed shipping invoice with each order you place, outlining the price, quantities, 
                and shipping charges (where applicable). If you would like further clarification about Tech Mania’s payment options, 
                feel free to contact us on +92-21-111- MOBILE (662453) or email us at info@Tech Mania.pk
            </p>

            <h2>Payment Option</h2>
            <p>
                At Tech Mania, we want to make your online shopping experiences the most enjoyable ever. That’s why we focus all our brands and policies around you, including payment.
                We offer you the freedom to choose from different, yet equally simple, payment options.                 
            </p>

            <h3>
                What is Cash on Delivery?
            </h3>

            <p>
                We know the easiest way to pay for your online shopping in Pakistan and online deals are with cash. To enjoy this payment option, simply select the “Cash on Delivery” option when you book your order. You will receive a call from customer care before your product is sent to your door, giving you more than enough time to have the cash ready.
                Our Customer Support Representative might ask you to submit a certain portion of the total amount as advance payment on selected products for confirmation purpose.
            </p>

            <h3>
                Online Bank Transfer
            </h3>

            <p>
                If you’re more comfortable paying with your online bank account, we give you the freedom to do so. After shopping online, simply choose “bank transfer” as your mode of payment. By using the latest encryption methods, we ensure your data is always safe and secure, allowing you to enjoy online shopping in Pakistan.
            </p>

            <h3>
                Direct Bank Deposits
            </h3>
            
            <p>
                If you live close to our banks or feel more comfortable directly depositing your payment, Tech Mania lets you do just that. Simply walk into any of the 3 banks below and directly deposit our payment. It’s as easy as that!
            </p>

            <h3>
                ATM Transfers
            </h3>

            <p>
                Have an ATM near your home or office? Pay directly with your ATM card and enjoy seemingly fast payment. Online Shopping in Pakistan has never been easier!
            </p>
            <img src="/images/bank.png" alt="Faisal Bank">
            <table border="2" class="atm_table">
                <tr>
                    <td><h6>Account Title</h6></td>
                    <td>Muhammad Rayyan</td>
                </tr>
                <tr>
                    <td><h6>Account No</h6></td>
                    <td>0121006000006904</td>
                </tr>
                <tr>
                    <td><h6>IBAN</h6></td>
                    <td>0121006000006904</td>
                </tr>
                <tr>
                    <td><h6>Branch</h6></td>
                    <td>Bosan road, Multan</td>
                </tr>
                <tr>
                    <td colspan="2">
                        If you would like further clarification about Tech Mania’s payment options, feel free to contact us on 03417355941
                    </td>
                </tr>
            </table>

            



        
        </div>
    </div>
</div>




<%- include ../partials/footer %>
