<%- include ../partials/header %>  <%- include ../partials/categories-navbar %>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12 m-auto text-justify">
            <h1 class="mt-4 mb-5 text-center">Warranty</h1>
            <p>
            Better You 7 Days Checking & Replacement Warranty
            Better You believes in making online shopping a phenomenal experience centered around you, so you can enjoy complete
            satisfaction along with the impeccable level of service. That’s why we believe you have every right to have your product
            checked, and, if needed, replaced. Because at Better You:
            <p>
            <q style="font-size: 26px;">If You’re Not Happy, We’re Not Happy.</q>
            </p>            
            That’s why we have our famous 7-days Checking & Replacement Warranty.
            </p>

            <p>
            <h3> What is it?</h3>
                Though you won’t ever need it, our 7-days Replacement and Checking Warranty is a service we created in order to provide
                you with complete peace of mind. You have 7 days, that’s 168 hours, to check your product for any unlikely operational
                or internal issues. However, If the product is physically damaged or broken upon delivery, you should immediately notify
                us within 24 hours via email at info@BetterYou.pk so that we can replace your product.
            <br> <br>
           <p>In case you find one, give us a call or email us. We’ll verify your claim and replace the product for you right away.
            Better You replacement policy is valid for 2 situations/circumstances: <br>
            
            • In case you are delivered the wrong product. <br>
            • In case the product delivered to you has some defect or issue. <br>
            </p>

           <p>However, to complete replacement of your product, the product should be:
                • Undamaged, unused and in the condition in which it was received. <br>
                • The parcel contains its original product packaging, manufacturer's containers, documentation, warranty cards, manuals,
                and all accessories that came in or attached to the product when ordered. <br>
                • None of the items mentioned above, including the product itself, is defaced or marked in any way, shape, or form.<br>
            </p>
                
                If you would like any further clarification about our return & replacement policy, feel free to contact us at at
                info@BetterYou.pk
            </p>

            <p>
            <h3>Jurisdiction:</h3>
            Customers in case of dispute can send legal documents to Better You at G22, Multan Trade Center Khanewal road, Multan.
            All such cases would be held in consumer court Multan. Better You shall recover legal cost from the customer in case of
            false claim proven by the court of law.
            </p>

            <p>
            <h3>Limited Liability:</h3>
            To the maximum extent permitted under applicable laws, under on circumstances including negligence, shall Better You or
            its directors, officers, employees or agents be liable for any incidental, special or consequential damages (including
            but not limited to, loss of business profits, business interruption, loss of business information etc) arising to use
            the services. Any dispute arising out shall be resolved, falling amicable settlement, through arbitration under the
            arbitration act 1940, the venue of arbitration shall be Multan.
            </p>


        </div>
    </div>
</div>






<%- include ../partials/footer %>